attrs==21.2.0
beautifulsoup4==4.10.0
black==21.10b0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
codecov==2.1.12
coverage==6.1.1
dataclasses==0.8
flake8==4.0.1
ghp-import==2.0.2
gitchangelog==3.0.4
idna==3.3
importlib-metadata==4.2.0
iniconfig==1.1.1
isort==5.10.0
Jinja2==3.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
mccabe==0.6.1
mergedeep==1.3.4
mkdocs==1.2.3
mypy==0.910
mypy-extensions==0.4.3
packaging==21.2
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
python-dateutil==2.8.2
PyYAML==6.0
pyyaml_env_tag==0.1
regex==2021.11.2
requests==2.26.0
six==1.16.0
soupsieve==2.3
-e git+ssh://git@github.com/WagnoLeaoSergio/ted_talk_video_downloader.git@3e0cc796e928a8d37d405fb4afa33e752dd10fc4#egg=ted_talk_video_downloader
toml==0.10.2
tomli==1.2.2
typed-ast==1.4.3
types-requests==2.25.11
typing-extensions==3.10.0.2
urllib3==1.26.7
watchdog==2.1.6
zipp==3.6.0
